{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 fw-bold">{{ user }}님의 상품 등록</h1>

    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
          <label for="productname" class="form-label">상품명:</label>
          <input type="text" class="form-control" id="productname" name="productname">
      </div>

      <div class="mb-3">
          <label for="productprice" class="form-label">가격:</label>
          <input type="text" class="form-control" id="productprice" name="productprice">
      </div>

      <div class="mb-3">
          <label for="context" class="form-label">소개:</label>
          <textarea class="form-control" id="context" name="context" rows="4"></textarea>
      </div>

      <div class="mb-3">
          <label for="img_file" class="form-label">파일 업로드:</label>
          <input type="file" class="form-control" id="img_file" name="img_file">
      </div>

      <button type="submit" class="btn btn-primary">제출</button>
    </form>
</div>

{% endblock %}
