{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-4">{{user}}님의 상품 등록</h1>

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="productname">상품명:</label>
  <input type="text" id="productname" name="productname">

  <label for="productprice">가격:</label>
  <input type="text" id="productprice" name="productprice">

  <br><br>
  <label for="context">소개:</label>
  <textarea name="context" rows="4" cols="50"></textarea>

  <br><br>

  <label for="img_file">파일 업로드:</label>
  <input type="file" id="img_file" name="img_file">


  <input type="submit" value="제출">

</form>

{% endblock %}